.game-name-wrap {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-name-title {
  max-width: 80%;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.edit-game-name {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 1.5rem;
  background-image: url('../../../../assets/icons/pen.svg');
  background-size: contain;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}
