* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}
input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  // padding-bottom: 5rem;
}
.section-wrap {
  margin: inherit;
  max-width: 1000px;
  padding: 2%;
}
.section-title {
  margin-bottom: 1rem;
  line-height: 5rem;
  text-align: center;
  vertical-align: middle;
  // font-size: 1.5rem;
  // font-weight: 600;
  // text-transform: capitalize;
}
.hidden {
  display: none;
}
.item {
  width: 300px;
  height: 95px;
  margin-right: 13px;
  padding: 3%;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.member-name,
.issue-name {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.member-position,
.issue-priority {
  margin-bottom: 0;
  font-size: 0.65rem;
}

.members-list,
.issues-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}
.issue-icon {
  width: 35px;
  height: 35px;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.current-status {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  color: #dc3545;
}

.member-scrum {
  width: 300px;
}
.member-data-nokick {
  width: calc(100% - (35px + 20px));
}

.scrum-card {
  width: 38px;
  height: 38px;
  text-align: center;
  color: #0d6efd;
  font-weight: 700;
  font-size: 0.5rem;
  text-transform: uppercase;
  line-height: 35px;
  border: 3px solid #0d6efd;
  border-radius: 50%;
}

footer {
  color: #fff;
  padding: 20px 0;
  font-weight: 500;

  .rs-logo {
    width: 100px;
  }

  .author {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff !important;
    }
  }
}

.spinner-container {
  background: none !important;
  border: none !important;
  align-items: center !important;
}
