.result__issue {
  margin-top: 100px;
}

.result__cards {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.result__votes {
  margin-top: 20px;
  text-align: center;
}
