.issue-popup__header-title {
  margin: 0 auto;
}

.issue-popup__form {
  margin: 0 10%;
}
.issue-popup__footer {
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}

.issue-popup__footer-button {
  width: 100px;
}
