.new-issue-name {
  text-transform: capitalize;
}
.issue-add {
  width: 35px;
  height: 35px;
  background-image: url('../../../../assets/icons/plus.svg');
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.new-issue-container {
  width: 305px;
  height: 103px;
}
